/*CSS Colors: #EB4C7E, #FFEC94, #FCFFBB, #005459, #163B42*/
/*Imported Fonts from Google Fonts*/
@import url(http://fonts.googleapis.com/css?family=Playball);
@import url(http://fonts.googleapis.com/css?family=Lobster);

body{
    overflow: auto;
    margin: 0 auto;
    height: 100%;
    padding-left: 3%; padding-right: 3%;

}

/*HEADER STYLING*/

header{
    margin: 0 auto;
    overflow: auto;

}

header img{
    float: left;
    position: relative;
}

header p{
    font-family: 'Playball', cursive;
    font-size: 30pt;
    letter-spacing: 0.01em;
    color: #163B42;
    text-align: center;
    position: relative;
    top: 15px;
}

/*NAVIGATION STYLING*/

nav{
    clear: left;
    text-align: center;
    font-size: 24pt;
    /*background-color: #005459;*/
    font-family: 'Lobster', cursive;
    letter-spacing: 0.1em;
}

nav li{
    display: inline-block;
    padding: 10px 60px 10px 20px;
}

nav a:link, a:visited{
    color: #005459;
    text-decoration: none;
}

a:hover, a:active{
    color: #EB4C7E;
    text-align: center;

}

a:hover{
    text-decoration: underline #EB4C7E;
}

/*ABOUT PAGE STYLING*/

#about_me{
    line-height: 1.25;
}

#about_me img{
    width: 25%;
    float: left;
    padding-right: 20px;
}

#about_me p{
    color: #163B42;
    font-size: 16pt;

}

img{
    width: 25%;
}

/*FOOTER STYLING*/

footer{
    text-align: center;
    clear: both;
    color: #005459;
    padding: 10px;
}