/*CSS Colors: #F2F2F2, #5FBDF5, #C4EAFF, #000566, #39B348*/
/*Imported Fonts from Google Fonts*/
@import url(http://fonts.googleapis.com/css?family=Playball);
@import url(http://fonts.googleapis.com/css?family=Merienda);

body{
    margin: 0 auto;
    z-index: -999;
    padding: 2em;
    background-image: url(images/Water01.JPG);
    background-size: 1024px auto;

    /*background-size: 110%;*/
}

/*HEADER STYLING*/

header{
    position: relative; top: -3em;
}

header img{
    float: left;
    position: relative; top: 1em;
}


/*NAVIGATION STYLING*/

nav{
    font-size: 10pt; font-family: 'Merienda', cursive;
    letter-spacing: 0.1em;
    position: relative; top: 4em;
    float: right;
}

nav li{
    display: inline-block;
    padding: 10px 20px 10px 20px;
}

nav a:link, a:visited{
    color: #F2F2F2;
    text-decoration: none;
}

a:hover, a:active{
    color: #5FBDF5;
    text-align: center;
}


/*Home Page Styling*/
#main, #projects, #contact_info, #about_me{
    position: relative; top: 1.76em;
    padding-bottom: 2em;
    clear: both;
}

/*HOME, PROJECTS AND CONTACT INFORMATION - MAIN STYLING*/
#main h1, #projects h1, #contact_info h1, #about_me h1{
    font-family: 'Merienda', cursive; font-size: 26pt;
    color: #5FBDF5;
    border-style: none none double;
    border-width: 5px;
    border-color: #000566;
    text-align: center;
    padding-bottom: 0.5em;
    position: relative;
    top: -1em;
}

#main p, #projects p{
    font-family: 'Merienda', cursive;
    font-size: 14pt;
    color: #5FBDF5;
    letter-spacing: 0.01em;
    position: relative;
    text-align: center;
    top: -2em;
}

#main ul{
    text-align: center;
    padding: 2em;
    background-color: #F2F2F2;
    opacity: .9;
    border-radius: 0.5em;
    color: #000566;
}

#main li{
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
}



/*ABOUT PAGE STYLING INFORMATION*/

#about_me img{
    width: 25%;
    float: left;
    padding: 1em 1em 0;
    background-color: #F2F2F2;
    border-top-left-radius: 0.5em;

}

#about_me p{
    color: #000;
    font-size: 12pt;
    padding: 1em;
    background-color: #F2F2F2;
    border-radius: 0.5em;
}

#about_me br{
    margin-bottom: 1em;
}

/*Projects Information Page*/

#designs, #flash, #javascript, #wires{
    border-width: 1em;
    float: left;
    box-shadow: 1px 1px 1px 1px #ccadad;
    display: inline;
    text-align: center;
    height: 100px;
    width: 120px;
    margin-bottom: 3em;
    margin-right: 1em;
}


/*Contact Information Page*/
#contact_info img{
    width: 25%;
    border-radius: 100%;
    float: right;
}

#contact_info p{
    font-family: 'Merienda', cursive;
    font-size: 14pt;
    color: #5FBDF5;

}

#contact_info ul{
   list-style-type: none;
   font-family: 'Merienda', cursive;
}

/*FOOTER STYLING*/

footer{
    text-align: center;
    clear: both;
    color: #CCCCCC;
    padding: 0.75em;
    background-color: #022601;
    font-size: 10pt;
    opacity: 0.75;
}